Simon Says Rules:

1. Spamming Bot Commands or Flooding channels with Bot Commands is not allowed
2. Don't be toxic to others in/after a game. We can still punish you for that!
3. Maintain a healthy enviroment. Don't get mad about small things, it's not worth getting banned for it.
4. Don't abuse the bot in any way, shape or form.
5. Report Bugs/Errors you find, you can be punished for this if you do abuse it later!
6. Abide by Discord's Terms Of Service & Community Guidelines
7. Do not impersonate Bot Staff/Team
8. Do not scam other users in any way, shape or form. Sending nitro scam links in any server can also be bannable.
9. Don't waste our time. This can be sending false/bad applications or being a troll (spamming our DMs)
10. Don't cheat in any way, shape or form

As a whole, "we" (Simon Says) have the right to issue "you" (the user) a strike for violating our community guidelines or terms of service at any time,
and at "moderator" (Us) discretion. If we feel "you" have violated the rules, we may remove access from the service on your account, or issue a punishment.
